* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

header {
  position: relative;
  height: 430px;
  margin-top: 30px;
}

.header {
  width: 55%;
  margin: auto;
}

.header.top{
  background-image: url(../img/natural-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 10px solid white;
  text-align: center;
  height: 88%;
}

.header img {
  position: absolute;
  width: 26%;
  height: auto;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
}

#testo-header {
  display: inline-block;
  position: absolute;
  color: white;
  font-family: 'Alata', sans-serif;
  text-transform: uppercase;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.header.bottom{
  position: relative;
  height: 12%;
  background-color: #666666;
  text-align: center;
}

.header ul {
  list-style: none;
}

.navigation-bar {
  display: inline-block;
  /* background-color: lightgreen; */
}

.navigation-bar:hover {
  background-color: #302B27;
}

.navigation-bar:hover a {
  color: #DDDDDD;
}

.navigation-bar a {
  text-decoration: none;
  color: white;
  padding: 0 12px;
  line-height: 52px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

main {
  width: 55%;
  margin: auto;
}

.column {
  float: left;
  margin-top: 1.5%;
  text-align: justify;
  border-radius: 5px;
}

.column p {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
}

.left {
  width: 20%;
  background-color: white;
}

.left i {
  float: left;
  background-color: orange;
  color: white;
  margin: 7px 6px;
  font-size: 20px;
}

.left h3 {
  text-transform: capitalize;
  float: left;
  width: 75%;
  margin: 4px 6px;
  font-size: 24px;
}

.left ul {
  list-style: none;
  text-align: left;
}

.left li {
  margin: 10px 7px;
}

.left a {
  font-weight: bold;
  color: #009900;
  text-decoration: none;
  font-size: 17px;
  text-transform: capitalize;
}
.center {
  width: 48%;
  margin: 1.5% 6%;
  text-align: left;
  background-color: white;
}

.center h2 {
  text-transform: uppercase;
  margin: 20px 5px;
  font-size: 25px;
  text-shadow: 3px 3px 3px grey;
}

.right {
  width: 20%;
}

.center.column,
.column .paragraph {
  padding: 15px 20px;
}

.paragraph {
  margin-bottom: 35px;
  background-color: white;
  border-radius: 5px;
}

.paragraph h2 {
  margin-bottom: 25px;
}

footer {
  height: 150px;
  width: 55%;
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  vertical-align: middle;
}

footer p {
  color: #D2D2D2;
  font-size: 18px;
  font-style: italic;
  line-height: 27px;
  font-weight: bold;
}

footer i {
  color: #CECECE;
  font-size: 42px;
  line-height: 150px;
  margin: 30px 80px;
}

body {
  background-image: url(../img/natural-pattern.png);
}
